  /* Box Model Hack */
  * {
    box-sizing: border-box;
}
  
  /* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
  
.clear {
      clear: both;
}
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
body{
    font-family: "Open Sans", sans-serif;
    font-family: "Akshar", sans-serif;
    margin: 0;
    padding:0;
    border: 0;    
}  
html{
    color: #dbdfe1;
}
  /******************************************
  /* LAYOUT
  /*******************************************/
header {
    width: 100%;
    background-color: #66758a;
    margin: 0;
    border: 0;
    padding-bottom: 8%;
}
header nav{
    width: 100%;
} 
nav li{
    display: inline;    
}  
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
li{
    float: left;

}
li.class{
    margin: 2% 3% 0 3%;
}
    
li.class a{
    text-decoration: none;
    color:#dbdfe1;
    text-transform: uppercase;
}

li.hire{
    margin: 2% 33% 0 0;
}
li.hire a{
    color:#dbdfe1;
    text-transform: uppercase;
    text-decoration: none;
}

  /*li.img{

  }
  */
li.button{
    margin: 2% 0 0 35%;
}
li.button button{
    text-transform: uppercase;
}
 /* ul li ul li{
      float: left;
      padding: 5%;
  }
  ul li.class{
      float: left;
  }
  ul li.list ul li.hire{
      float: right;
  }
 li.list{
      float: left;
  }
  
  li.button{
    float: right;
    margin-right:5%;
}

li.img{
      margin: 0;
      text-align: center;
}
*/
header p{
    text-transform: uppercase;
    text-align: center;
    padding: 0 13%;
    font-size: 20px;
}
header div{
    text-align: center;
}
header div h4{
    float: left;
    margin-top: 4.5%;
    line-height: 90%;
}
header div img{
    float: left;
    margin-left: 45%;
    margin-top: 3%;
}
span{
    font-family: "Open Sans", sans-serif;
    color:#161f2a;
    font-style:italic;
    clear: both;
    display: block;
    margin-top: 16%;
    margin-left: 45%;
} 
section p{
    font-family: "Open Sans", sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}
section.why{
    height: 400px;
    width: 50%;
    margin: auto;
    padding-top: 10%;
}
section.grey{
    width: 100%;
    height: 600px;
    background-color:#dbdfe1;
    text-align: center;
}
div.box{
    height: 140px;
    width: 256px;
    background-color: #66758a;
    overflow: hidden;
} 
section.left{
    width: 50%;
    float: left;
}
section.left .box{
    width: 60%;
    margin: 20% 5% 10% 32%;
}
section.left h3{
    text-align: right;
    margin: 0 30% 0 20%;
 
}
section.left p{
    width: 70%;
   margin: 5% 8% 10% 25%;
}
section.left a{
    margin: 0 10% 0 30%;
}
section.left a, section.right a{
    border: 1px solid black;
    padding: 2% 8%;
    text-decoration: none;
    color: #161f2a;
    text-transform: uppercase;
}
section.right{
    width: 50%;
    float: right;
}
section.right .box{
    width: 60%;
    margin: 20% 30% 10% 10%;
}
section.right h3{
    text-align: left;
    margin: 0 10% 0 25%;
}
section.right p{
    width: 70%;
    margin: 5% 30% 10% 5%;
}
section.right a{
    margin: 0 40% 0 15%;
}
section.volunteer{
    clear: both;
    background-color: white;
    width: 50%;
    height: 500px;
    margin: auto;
}
section.volunteer p{
    margin-bottom: 15%;
 
    
}
section.volunteer a{
    clear: both;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    padding: 2% 8%;
    margin-left: 35%;
}
.volunteer h2{
    padding-top: 30%;
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}
h2{
    text-transform: uppercase;
    color: black;
    text-align: center;
}
h3{
    color: black;
    text-transform: uppercase;
    text-align: center;
}  
h5{
    margin: 0;
    padding: 0;
}
h6{
    margin:0;
    padding: 0;
}
footer {
    background-color: #161f2a;
    color:#ecedee;
}
footer section{
    background-color:#161f2a;
}
footer section.icons{
    width: 40%;
    display: inline-block;
    margin-left: 3%;
}
footer section.icons h5{
    text-decoration: none;
    color:#66758a;
    text-transform: uppercase;
    padding-top: 3%;
    padding-left: 5%;
}
footer section.icons a{
    text-decoration: none;
    color: #dbdfe1;
    padding-right: 4%;
    padding-left: 5%;
}   
footer section.icons img{
    overflow: hidden;
    margin-left: 2%;
    margin-top: 5%;
}
footer section.address{
    width: 50%;
    display: inline-block;
    padding-left: 28%;
    padding-bottom: 5%;
    line-height: 1.8;

}
footer section.address p{
    text-align: left;
}
footer section.address a{
    text-decoration: none;
    color: #dbdfe1;
}
footer div{
    height:2px;
    width: 90%;
    background-color:#dbdfe1;
    margin-left: 5%;   
}

h6.copy{
    display: block;
    padding-top: 0;
    margin: 2% 0 0 5%;

}
footer img.GLlogo{
    display: inline-block;
    margin-left: 90%;
    
}
      



  /****
**************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  @media only screen and (max-width: 600px) {
    footer img.GLlogo{
        display: inline-block;
        margin-left: auto;
        
    }

    footer section.address{
        width: 50%;
        display: inline-block;
        padding-left: 5%;
        padding-bottom: 5%;
        line-height: 1.8;
    
    }

  }